@import "../../Global.scss";

.portfoliolist {
  font-size: 14px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $cardColor;
    color: white;
  }
}
